.main {
  padding: 20px 100px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.forms {
  flex: 1;
  border: 1px solid black;
  min-width: 450px;
}

.display {
  flex: 1;
  border: 1px solid black;
  min-width: 450px;
}
